[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pungi = {editable = true,path = "."}
gym = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pungi = {editable = true,path = "."}

[requires]
python_version = "3.6"
